{% extends 'base/style.html' %}
{% block content %}

<!--Go Back Header-->
<div class="header-bar">
    <a style="color: #40474d; text-decoration: none;" href="{% url 'home' %}">&#8592; Back</a>
</div>
<br><br>

<!--Delete Statement & Button-->
<div class="card-body">
    <form method="POST">
    {% csrf_token %}
    <h3> Are you sure you want to delete the prayer titled:  <b style="font-size: 28px;"><u>'{{ prayer }}'</u></b></h3>
    <input class="button" type="submit" value="Delete"/>
</form>
</div>

{% endblock content %}



